.bookcase {
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
.bookcase .top-shelf {
  text-align: center;
  font-size: initial !important;
  height: 40px !important;
  position: relative;
}
.bookcase .logo {
  text-shadow: rgba(255, 255, 255, 0.37) 0 2px 0;
  font-family: Nunito, sans-serif;
  color: #804313;
  opacity: .6;
  height: 40px;
  font-size: 1.8em !important;
  text-align: center;
  width: 200px;
  display: inline-block;
}
.bookcase .wall {
  width: 100%;
  background: #777;
  overflow-x: scroll;
  white-space: nowrap;
  position: fixed;
  z-index: 10;
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
}
.bookcase .shelf {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  position: relative;
  background: #130f10;
  /* Old browsers */
  background: linear-gradient(to bottom, #130f10 0%, #79472e 84%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#130f10', endColorstr='#79472e', GradientType=0);
  /* IE6-9 */
}
.bookcase .img-shelf {
  height: 100%;
  width: 100%;
}
.bookcase .top-shelf {
  background-image: url('images/shelf-border-top.png');
}
.bookcase .bottom-shelf {
  background-image: url('images/shelf-border.png');
}
.bookcase .shelf-border {
  width: 100%;
  height: 20px;
}
.bookcase .archive-box,
.bookcase .notebook,
.bookcase .paper,
.bookcase .add-item {
  display: inline-block;
  cursor: pointer;
  transition: all .2s;
  width: 70px;
  margin: 0 10px;
  padding-top: 24px;
}
.bookcase .paper,
.bookcase .notebook {
  width: 60px;
}
.bookcase .archive-box:hover,
.bookcase .notebook:hover,
.bookcase .paper:hover {
  transform: scale(1.2, 1.2);
}
.bookcase .add-item {
  font-size: 40px;
  opacity: 0.5;
  color: white;
  padding-top: 0;
  vertical-align: middle;
  height: 40px;
  margin-top: -102px;
}
.bookcase .add-item:hover {
  opacity: 0.7;
}
.bookcase-shown {
  animation-name: bookcaseShownAnimation;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.item-icon {
  width: 25px;
  height: 32px;
  vertical-align: middle;
}
.new-button-text {
  padding-left: 20px;
}
.slide {
  margin-left: -100% !important;
}
.slide-second-form {
  margin: auto;
}
.form-one,
.form-two {
  opacity: 0;
  display: inline-block;
}
.form-two {
  vertical-align: top;
}
.item-container {
  height: 100px;
  padding-left: 130px;
}
@keyframes bookcaseShownAnimation {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}
@media all and (max-width: 875px) {
  .bookcase .logo {
    display: none;
  }
}
@media all and (max-width: 1050px) {
  .item-container {
    padding-left: 50px;
  }
}
@media all and (max-width: 400px) {
  .item-container {
    padding-left: 10px;
  }
}

.generic-transition {
  transition: transform 0.3s, all 0.2s;
}
.button-transition {
  transition: transform 0.3s, all 0.2s, margin 0.5s, opacity 0.5s;
}
.opacity-transition {
  transition: display 0.3s, opacity 0.2s;
}
.big-screen-login.slide-off-right,
.big-screen-login.slide-in-right {
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.big-screen-login.slide-in-right {
  animation-name: slideInRight;
}
.big-screen-login.slide-off-right {
  animation-name: slideOffRight;
}
@keyframes slideInRight {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 90%;
    height: 90%;
  }
}
@keyframes slideOffRight {
  0% {
    width: 90%;
    height: 90%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}
@media screen and (min-width: 500px) {
  @keyframes slideInRight {
    0% {
      right: -500px;
    }
    50% {
      right: 0;
    }
    75% {
      right: 35px;
    }
    100% {
      right: 15px;
    }
  }
  @keyframes slideOffRight {
    0% {
      right: 15px;
    }
    50% {
      right: 35px;
    }
    75% {
      right: 0;
    }
    100% {
      right: -500px;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: #3f3f3f;
  background: linear-gradient(to bottom, #3f3f3f 0%, #2d2d2d 47%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3f3f', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
html {
  overflow-y: scroll;
  min-height: 100%;
}
body {
  height: 100%;
}
input {
  -webkit-appearance: none;
}
.container {
  height: 100%;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.invisible {
  display: none;
  opacity: 0;
}
.visible {
  opacity: 1 !important;
}
.hide {
  display: none;
}
.text-left {
  text-align: left;
}
.valign-middle {
  vertical-align: middle;
}
.div-form-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(90, 60, 17, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(90, 60, 17, 0.4);
}

.bracket-animation::before,
.bracket-animation:after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
  color: white;
}
.bracket-animation::before {
  margin-right: 10px;
  content: '[';
  transform: translateX(20px);
}
.bracket-animation::after {
  margin-left: 10px;
  content: ']';
  transform: translateX(-20px);
}
.is-desktop .bracket-animation:hover::before,
.is-desktop .bracket-animation:hover::after,
.is-desktop .bracket-animation:focus::before,
.is-desktop .bracket-animation:focus::after {
  opacity: 1;
  transform: translateX(0px);
}

@keyframes modalShakeAnimation {
  0% {
    transform: translate(-4%, 20%);
  }
  20% {
    transform: translate(4%, 20%);
  }
  40% {
    transform: translate(-2%, 20%);
  }
  60% {
    transform: translate(2%, 20%);
  }
  80% {
    transform: translate(-1%, 20%);
  }
  100% {
    transform: translate(0%, 20%);
  }
}
.modal-shake {
  animation-name: modalShakeAnimation;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.desk-container {
  perspective: 1000px;
  height: 100%;
  width: 100%;
}
.animate-desk {
  transform: rotateX(70deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1) translate3d(0px, 200px, 0px) skew(0deg, 0deg);
  position: absolute;
  z-index: 2;
}
.animate-desk .header .logo {
  opacity: 0;
}
.animating-desk {
  position: absolute;
  z-index: 2;
}
.desk {
  background-image: url(images/wood.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.header {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 60px;
}
.header .bookshelf-icon {
  float: left;
  cursor: pointer;
  padding-top: 13px;
  padding-left: 10px;
}
.header .bookshelf-icon::before,
.header .bookshelf-icon::after {
  vertical-align: top;
  padding-top: 8px;
}
.header .bookshelf-icon.visible:hover {
  opacity: 0.9;
}
.header .bookshelf-icon img {
  width: 30px;
  height: 30px;
}
.header .logo {
  text-shadow: white 0px 2px 0px;
  font-family: 'Nunito', sans-serif;
  color: #804313;
  opacity: 0.4;
  height: 40px;
  padding-top: 8px;
  width: 100%;
  font-size: 2em;
  text-align: center;
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.login-container {
  float: right;
  padding-top: 26px;
  padding-right: 12px;
}
.email-icon {
  color: #293854;
  position: absolute;
  left: 9%;
  font-size: 30px;
  padding-top: 25px;
  z-index: 1;
}
/************************************************************
	The login button which opens the login form
*************************************************************/
.login-btn {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-shadow: 1px 1px rgba(128, 67, 19, 0.5);
}
.span-login-status {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-shadow: 1px 1px rgba(128, 67, 19, 0.5);
}
.second-ticker {
  color: red;
}

/************************************************************
	The white modalness thingy
*************************************************************/
.modal-form-component {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}
.modal-background {
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
  position: absolute;
}
/************************************************************
	The close button on the form
*************************************************************/
.span-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 10px 10px 0 0;
  cursor: pointer;
  color: #fff;
  font-size: 48px;
  display: block;
  text-align: center;
  opacity: 1;
  box-sizing: border-box;
}
.span-close:hover::before {
  opacity: 0.9;
}
/************************************************************
	The label for the form
*************************************************************/
.lbl-form {
  color: #fff;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  padding-top: 40px;
}
.hr-form {
  height: 2px;
  border: 0;
  background-color: #488bae;
}
/************************************************************
	The modal form and sub components
*************************************************************/
.modal-form-wrapper {
  background-color: #293854;
  width: 90%;
  max-width: 600px;
  position: static;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 50px;
  transform: translateY(20%);
}
.modal-form-wrapper form {
  padding-top: 20px;
}
.modal-form-wrapper .input-wrapper {
  margin-bottom: 20px;
  position: relative;
}
.modal-form-wrapper input[type="text"],
.modal-form-wrapper input[type="email"] {
  border: 1px solid black;
  height: 40px;
  border-radius: 3px;
  outline: 0;
  vertical-align: top;
  font-size: 1em;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  width: 85%;
  background-color: #dde0e5;
  color: #293854;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
}
.modal-form-wrapper input[type="text"]:focus,
.modal-form-wrapper input[type="email"]:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #66afe9;
}
/************************************************************
	The validation DIV
*************************************************************/
.modal-validation-container {
  background-color: white;
  border: 2px solid #cd2626;
  color: #cd2626;
  width: 85%;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: 700;
  font-size: .9em;
  padding: 10px;
  font-family: Arial;
}
/************************************************************
	The submit button on the form
*************************************************************/
.submit-btn {
  background-color: #488bae;
  color: white;
  padding: 10px;
  outline: none;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  width: 85%;
  display: inline-block;
  border-radius: 3px;
  box-sizing: border-box;
  border: 0;
  height: 40px;
}
.submit-btn:hover,
.submit-btn:focus {
  transform: scale(1.02, 1.02);
  background-color: #357596;
}
.submit-btn:active {
  transform: scale(0.9, 0.9);
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ion-load-d {
  font-size: 1.5em;
  animation: loader 1s infinite linear;
}
.p-modal-text {
  background-color: white;
  width: 85%;
  margin: 0 auto;
  border: 1px solid #488bae;
  padding: 10px 0;
  font-family: arial;
  border-radius: 3px;
}
.span-modal-text {
  padding-left: 10px;
  display: block;
}
@media all and (max-height: 450px) {
  .modal-form-wrapper {
    width: 98%;
  }
  .modal-form-wrapper form {
    padding-top: 0;
  }
  .lbl-form {
    padding-top: 10px;
  }
  .span-close {
    margin: 0 25px 0 0;
    font-size: 35px;
  }
}


.notepad {
  height: 360px;
  /*width: 600px; TODO: see about getting rid of this */
  width: 96%;
  border: 1px solid #34b2b7;
  background-image: url(images/paperbackground.png);
  position: relative;
  margin: 0 auto 20px auto;
  box-shadow: 0px 0px 60px 1px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  max-width: 900px;
}
.notepad .notepad-date {
  font-family: Arial;
  color: #a9a9a9;
  position: absolute;
  top: 10px;
  right: 10px;
}
.notepad .notepad-header {
  background-color: white;
  height: 80px;
  border-radius: 4px;
  position: relative;
}
.notepad .notepad-title {
  bottom: 0;
  left: 20px;
  position: absolute;
  width: 90%;
  height: 40px;
  font-size: 1.5em;
  padding: 20px 0 0 8px;
  outline: none;
  border: 0;
  border-radius: 0;
}
.notepad .pink-divider {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 20px;
  background-color: #f48dac;
  z-index: 1;
}
.notepad .txt-note {
  background-color: red;
  resize: none;
  border: 0;
  outline: none;
  font-size: 2em;
  margin-top: 40px;
  margin-left: 85px;
  position: fixed;
  top: 0;
  left: 0;
}
.notepad .txt-area {
  font-family: Arial;
  color: black;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  /*width: 490px; TODO: see about getting rid of this */
  font-size: 1em;
  outline: none;
  border: 0;
  line-height: 40px;
  word-wrap: break-word;
  resize: none;
  white-space: pre;
  width: calc(100% - 40px);
  padding: 10px 0 0 0;
  margin: 0 0 0 30px;
}
.notepad .txt-area-div {
  height: calc(100% - 90px);
}
.notepad .txt-area.txt-area-hidden {
  color: transparent;
  z-index: 2;
  overflow: hidden;
  height: calc(100% - 70px);
}
.notepad .txt-area.txt-area-hidden::selection {
  color: white;
  text-shadow: 1px 1px white;
  background: #ff1ddc;
}
.notepad .txt-area.txt-area-hidden.ios {
  text-indent: -3px;
}
.notepad .hashtag {
  box-shadow: 0px 0px 0px 2px blue;
  background-color: blue;
  color: white;
  border-radius: 5px;
}
.notepad .caret {
  position: absolute;
  margin-left: -2px;
}
.blink-me {
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.search {
  display: inline-block;
  cursor: text;
  transition: all .2s;
  width: 40px;
  height: 30px;
  padding-top: 3px;
  font-size: 1.5em;
  opacity: 0.5;
  color: white;
  vertical-align: top;
}
.search:hover {
  opacity: 0.7;
}
.searchbar-container {
  max-width: 300px;
  left: 130px;
  position: absolute;
  top: 5px;
}
.searchbar-container:hover .searchbar-wrapper {
  opacity: 0.8;
}
@media all and (max-width: 1050px) {
  .searchbar-container {
    left: 50px;
  }
}
@media all and (max-width: 400px) {
  .searchbar-container {
    margin: 0 auto;
    padding-top: 5px;
    position: static;
  }
}
.searchbar-wrapper {
  border: 1px solid white;
  border-radius: 15px;
  background-color: #32231C;
  height: 28px;
  opacity: 0.9;
}
.search-text {
  height: 22px;
  width: 220px;
  background-color: transparent;
  border: 0;
  outline: none;
  color: white;
  margin-top: 2px;
}
.search-focused input {
  width: 250px;
}
.search-focused .searchbar-wrapper {
  opacity: 1 !important;
}

.ghost {
  opacity: 0;
}
.usernote-item:active {
  opacity: 0;
}
