
.header {

	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;

	& .bookshelf-icon {
		float: left;
		cursor: pointer;
	}

	& .bookshelf-icon.visible:hover
	{
		opacity: 0.9;
	}

	& .bookshelf-icon img
	{
		width: 30px;
		height: 30px;
	}
}

@media screen and (min-width: 500px)
{
	& .bookshelf-icon
	{
		top: 20px;
		left: 40px;
	}
}