
.header {

	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	height: 60px;

	& .bookshelf-icon {
		float: left;
		cursor: pointer;
		padding-top: 10px;
		padding-left: 10px;
	}

	& .bookshelf-icon.visible:hover
	{
		opacity: 0.9;
	}

	& .bookshelf-icon img
	{
		width: 30px;
		height: 30px;
	}

	& .logo
	{
		text-shadow: white 0px 2px 0px;
		font-family: 'Nunito', sans-serif;
		color: #804313;
		opacity: 0.4;
		height: 48px;
		width: 100%;
		font-size: 2em;
		text-align: center;
		position: absolute;
		left: 50%;
		width: 200px;
		margin-left: -100px;
	}
}