files:
  "/etc/httpd/conf.d/httpd.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
        <Directory "/var/www/html">
            Options Indexes FollowSymLinks
            Require all granted
            Order allow,deny
            allow from all
             
            <Files "autoloader.php">
                Order deny,allow
                deny from all
            </Files>
            
            RewriteEngine On

            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^(.*)$ %{ENV:BASE}index.php [QSA,L]
        </Directory>

  "/etc/php-5.5.d/php.ini" :
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
        session.cookie_httponly = 1
        session.use_only_cookies = 1
        session.cookie_secure = 1
        date.timezone = America/New_York
