
html, body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	background: #3f3f3f; 
	background: linear-gradient(to bottom,  #3f3f3f 0%,#2d2d2d 47%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	height: 100%;
}

input {
    -webkit-appearance: none;
}

.container {
	height: 100%;
}

.invisible {
	display: none;
	opacity: 0;
}

.visible {
	opacity: 1 !important;
}

.hide {
	display: none;
}
