
.login-container {
float: right;
}

/************************************************************
	The login button which opens the login form
*************************************************************/

.login-btn {
	color: white;
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	z-index: 3;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	text-shadow: 1px 1px rgba(128, 67, 19, 0.5);

	&::before, &:after {
		display: inline-block;
		opacity: 0;
		transition: transform 0.3s, opacity 0.2s;
	}
}

@media screen and (min-width: 500px)
{
	.login-submit-btn
	{
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
	}

	.login-btn::before {
		margin-right: 10px;
		content: '[';
		transform: translateX(20px);
	}

	.login-btn::after {
		margin-left: 10px;
		content: ']';
		transform: translateX(-20px);
	}

	.login-btn:hover::before,
	.login-btn:hover::after,
	.login-btn:focus::before,
	.login-btn:focus::after {
		opacity: 1;
		transform: translateX(0px);
	}
}
