
.links-container {
	width: 100%;
	height: 100px;
	max-width: 900px;
	margin: 0 auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -25px;
	background-image: url('images/gray-gradient.png');
	background-color: #4f5160;
	background-repeat: repeat-x;
}
