.desk-container
{
	perspective: 1000px;
	height: 100%;
	width: 100%;
}

.animate-desk
{
	transform: rotateX(70deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1) translate3d(0px, 200px, 0px) skew(0deg, 0deg);
	position: absolute;
	z-index: 2;
}

.desk
{
	background-image: url(images/wood.jpg);
  	background-size: cover;
	width: 100%;
	height: 100%;
    transition: all 0.5s;

	& .logo
	{
		text-shadow: white 0px 2px 0px;
		font-family: 'Nunito', sans-serif;
		color: #804313;
		opacity: 0.4;
		height: 48px;
		width: 100%;
		font-size: 2em;
		text-align: center;
		padding-top: 5px;
	}

	@media all and (min-width:400px)
	{
		& .logo
		{
			/*font-size: 4em;*/
		}
	}
}