
.desk-container {
	perspective: 1000px;
	height: 100%;
	width: 100%;
}

.animate-desk {
	transform: rotateX(70deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1) translate3d(0px, 200px, 0px) skew(0deg, 0deg);
	position: absolute;
	z-index: 2;

	& .header .logo {
		opacity: 0;
	}
}

.animating-desk {
	position: absolute;
	z-index: 2;
}

.desk {
	background-image: url(images/wood-small.jpg);
  	background-size: cover;
	width: 100%;
	height: 100%;
    transition: all .5s;
    overflow-x: hidden;
}

@media all and (min-width: 600px) {
	
	.desk {
		background-image: url(images/wood.jpg);
	}
}

.noselected-item {
	top: 120px;
	position: fixed;
	left: 50%;
	z-index: 1;
	text-shadow: #fff 0 2px 0;
	font-family: Nunito,sans-serif;
	color: #804313;
	opacity: .4;
	cursor: pointer;
	font-size: 2em;
	width: 500px;
	margin-left: -250px;
	text-align: center;
}

@media all and (max-width: 600px) {
	
	.noselected-item {
		font-size: 1.4em;
	}
}

.twitter-button {
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #333;
	font-size: 1.2em;
}
